{% if paginator.hasPages %}
        <ul class="pagination">
            {% if paginator.onFirstPage %}
                <li class="page-item disabled"><span class="page-link">&lsaquo;</span></li>
            {% else %}
                <li class="page-item"><a href="{{ paginator.previousPageUrl}}" class="page-link">&lsaquo;</a></li>
            {% endif %}

            {% for element in elements %}
                {% if element is iterable %}
                    {% for page, url in element %}
                        {% if page == paginator.currentPage %}
                            <li class="page-item active"><a href="{{ url }}" class="page-link">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ url }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li class="page-item disabled"><span class="page-link">{{ element }}</span></li>
                {% endif %}
            {% endfor %}

            {% if paginator.hasMorePages %}
                <li class="page-item"><a class="page-link" href="{{ paginator.nextPageUrl }}">&rsaquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&rsaquo;</span></li>
            {% endif %}
        </ul>
{% endif %}